.tabs{
    width:350px;
    position:relative;
    margin:50px;
}
.tabs .runner{
    width:100px;
    height:3px;
    background-color:#215cca;
    overflow:hidden;
    position:absolute;
    left:0;
    top:30px;
    transition:left 0.15s linear;
}
.tabs ul{
    list-style:none;
    padding:0;
    margin:0;
    width:100%;
    margin-left:4px;
}
.tabs ul li {
    display:inline-block;
    width:100px;
    height:32px;
    text-align:center;
    padding:8px 0;
    background-color:#f5f5f5;
    cursor:pointer;
    margin-left:-4px;
}
.tabs ul li.active {
    background-color:#dddddd;
}
.tabs ul li:hover {
    background-color:#eeeeee;
}

.tabs .content{
    border:solid 1px lightgrey;
    padding: 20px;
    margin-top:10px;
}
