<h1>PAGONOUDI SAGAPAME <3 XRONIA SOU POLLA </h1>

<div class="tabs">
    <div class="runner"></div>
    <ul>
        <li ng-click="setTab(1)" ng-class="{active: tab == 1}" data-tab="1">Tab 1</li>
        <li ng-click="setTab(2)" ng-class="{active: tab == 2}" data-tab="2">Tab 2</li>
        <li ng-click="setTab(3)" ng-class="{active: tab == 3}" data-tab="3">Tab 3</li>
    </ul>
    <div class="content" ng-show="tab == 1">Tab content 1</div>
    <div class="content" ng-show="tab == 2">Tab content 2</div>
    <div class="content" ng-show="tab == 3">Tab content 3</div>
</div>

<script>
    // Hover Version
    $('.tabs ul li').hover(function(){
        var num = $(this).data('tab');
        $(".runner").css("left",((num-1)*100)+"px");
    });
</script>